* {
    padding: 0; margin: 0;
}

body{
    font: Arial, Tahoma, Verdana, sans-serif;
    background-color: black;
    padding: 8px 12px 12px 12px;
}

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

h1{
    margin: 0px; padding: 0px;
    font-size: 64px; 
    font-weight: normal;
    color: white;
    margin-bottom: 20px;
}
/*form style*/
.panel{
    margin-bottom: 30px;
}
.panel [type=text]{
    background: #ccc;
    border: 0;
    height: 30px;
    line-height: 30px;
    width: 75%;
    font-size: 20px;
    padding-left: 10px;
}
.panel [type=button]{
    background: #ccc;
    border: 0;
    height: 30px;
    width: 20%;
    float: right;
    font-size: 20px;
    color: #666;
    cursor: pointer;
}
/*List elements styles*/
#list .item{
    position: relative;
    background-color: red;
    line-height: 30px;
    color: white;
    margin: 5px 0 10px 0;
    padding: 5px 5px;
    font-size: 22px;
    padding-right: 40px;
    padding-bottom: 10px;
}
#list .item a{
    color: white;
    font-weight: bold;
    float: right;
    font-size: 40px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}